<section class="lg:grid lg:grid-cols-2 lg:min-h-[80vh] bg-cover bg-center bg-no-repeat py-5"
    style="background-image: url(../../../assets/background.jpg);">
    <header class="flex flex-col m-6">
        <h1 class="text-blue-400 font-bold text-4xl">Como a Covid-19 afetou o mundo?</h1>
        <small class="text-lg block mt-3 mb-6 text-white">Estamos coletando dados de todo o mundo para medir
            a
            gravidade da nossa pandemia mais recente.</small>

        <small class="block mt-3 mb-6 text-lg text-white">
            Nossa missão é clara: reunir, analisar e disseminar insights ​​derivadas de fontes de dados diversas,
            incluindo relatórios governamentais, instalações de saúde, instituições de pesquisa e
            iniciativas comunitárias. Ao agregar e sintetizar esta riqueza de informação, pretendemos
            fornecer aos formuladores de políticas, profissionais de saúde, pesquisadores e ao público em geral:
            informações incomparáveis,
            acesso a dados oportunos e relevantes para informar a tomada de decisões, acompanhar tendências e
            desenvolver
            estratégias para combater as próximas pandemias.
        </small>
        <section class="flex flex-col lg:mt-auto">
            <header>
                <h2 class="text-3xl font-bold lg:max-w-[40%] text-white">Você quer contribuir conosco?</h2>
            </header>
            <section class="grid grid-cols-2 gap-4 mt-3  lg:flex">
                <button title="Register"
                    class="p-3 lg:w-2/5 bg-blue-500 text-white font-semibold rounded-sm hover:bg-blue-800 transition-colors"
                    [routerLink]="['/register']">
                    REGISTRE-SE
                </button>
                <button title="Login" [routerLink]="['/login']"
                    class="p-3 lg:w-2/5 bg-green-500 text-white font-semibold rounded-sm hover:bg-green-800 transition-colors">
                    FAÇA LOGIN
                </button>
            </section>
        </section>
    </header>
    <!-- <section class="hidden lg:block lg:mb-4 bg-cover bg-center bg-no-repeat"
        style="background-image: url(../../../assets/image.jpg);"></section> -->
</section>

<section class="flex flex-col justify-center mt-6">
    <small class="text-sm block text-center">Veja mais da nossa iniciativa abaixo</small>
    <i class="ri-arrow-down-s-line self-center animate-bounce"></i>
</section>


<section class="bg-zinc-900 mt-10 py-6">
    <header class="m-6 text-white">
        <h2 class="text-3xl font-semibold">Quem somos nós?</h2>
    </header>
    <article class="m-6 text-white">
        <p class="text-lg">
            Introduzindo a GlobalHealth Insights,
            uma startup inovadora dedicada a revolucionar a forma como
            coletamos, analisamos e utilizamos dados.
        </p>
        <p class="text-lg mt-5 xl">
            Em frente aos desafios sem precedentes colocados pela nossa última pandemia, há uma necessidade urgente de
            aumentar a nossa capacidade de análise de dados e preparar o terreno para futuras pesquisas e preparação para novas doenças. O GlobalHealth Insights pretende preencher esta lacuna crucial,
            aproveitando o poder da tecnologia e da colaboração para construir um banco de dados robusto de dados recentes da pandemia COVID-19 de
            todos os cantos do mundo, para iniciarmos os nossos estudos.
        </p>
    </article>
    <section class="w-full flex justify-center mt-5">
        <div class="min-w-[95vw]">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [title]="chartOptions.title"></apx-chart>
            <small class="block italic text-sm text-white text-center">
                Um gráfico de exemplo sobre os dados que estamos coletando
            </small>
        </div>

    </section>
</section>

<div (click)="resetScrollPosition()" title="Go up"
    class="fixed rounded-full p-3 bg-blue-700 w-14 h-14 flex justify-center items-center bottom-[1rem] right-[1rem] z-50 shadow-lg cursor-pointer">
    <i class="ri-arrow-up-double-fill text-white text-lg"></i>
</div>