<section class="lg:grid lg:grid-cols-2 lg:min-h-[80vh]">
    <header class="flex flex-col m-6">
        <h1 class="text-blue-700 font-bold text-4xl">How Covid-19 affected the world?</h1>
        <small class="text-lg block mt-3 mb-6">We're collecting data from all over the world to measure
            the
            severity of our
            most recently pandemic.</small>

        <small class="block mt-3 mb-6 text-lg">
            Our mission is clear: to gather, analyze, and disseminate actionable insights derived from a diverse
            array of data sources, including government reports, healthcare facilities, research institutions, and
            community-driven initiatives. By aggregating and synthesizing this wealth of information, we aim to
            provide policymakers, healthcare professionals, researchers, and the general public with unparalleled
            access to timely and relevant data to inform decision-making, track trends, and develop effective
            strategies to combat the pandemic.
        </small>
        <section class="flex flex-col lg:mt-auto">
            <header>
                <h2 class="text-3xl font-bold lg:max-w-[40%]">Do you want to contribute with us?</h2>
            </header>
            <section class="grid grid-cols-2 gap-4 mt-3  lg:flex">
                <button title="Register"
                    class="p-3 lg:w-2/5 bg-blue-500 text-white font-semibold rounded-sm hover:bg-blue-800 transition-colors">
                    REGISTER
                </button>
                <button title="Login" [routerLink]="['/login']"
                    class="p-3 lg:w-2/5 bg-green-500 text-white font-semibold rounded-sm hover:bg-green-800 transition-colors">
                    LOGIN
                </button>
            </section>
        </section>
    </header>
    <section class="hidden lg:block lg:mb-4 bg-cover bg-center bg-no-repeat"
        style="background-image: url(../../../assets/image.jpg);"></section>
</section>

<section class="flex flex-col justify-center mt-6">
    <small class="text-sm block text-center">See more of your initiative down below</small>
    <i class="ri-arrow-down-s-line self-center animate-bounce"></i>
</section>


<section class="bg-zinc-800 mt-10 py-6">
    <header class="m-6 text-white">
        <h2 class="text-3xl font-semibold">Who are us?</h2>
    </header>
    <article class="m-6 text-white">
        <p class="text-lg">
            Introducing GlobalHealth Insights, a groundbreaking startup project dedicated to revolutionizing the way
            we collect, analyze, and utilize COVID-19 data on a global scale.
        </p>
        <p class="text-lg mt-5 xl">
            In the face of unprecedented challenges posed by the COVID-19 pandemic, there's an urgent need for
            comprehensive, accurate, and real-time data to understand its impact, mitigate its effects, and pave the
            way for future disease research and preparedness. GlobalHealth Insights aims to fill this crucial gap by
            harnessing the power of technology and collaboration to build a robust database of COVID-19 data from
            all corners of the world.
        </p>
    </article>
    <section class="w-full flex justify-center mt-5">
        <div class="min-w-[95vw]">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [title]="chartOptions.title"></apx-chart>
            <small class="block italic text-sm text-white text-center">
                An example chart of what we are collecting
            </small>
        </div>

    </section>
</section>

<div (click)="resetScrollPosition()" title="Go up"
    class="fixed rounded-full p-3 bg-blue-700 w-14 h-14 flex justify-center items-center bottom-[1rem] right-[1rem] z-50 shadow-lg cursor-pointer">
    <i class="ri-arrow-up-double-fill text-white text-lg"></i>
</div>